<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
<h1>cors 설정</h1>
<h2>Cors Configuration</h2>
<pre>
  public class CorsConfiguration {
    public WebMbcConfigurer coresConfigurer() {
        return new WebMbcConfigurer() {
            public void addCorsMappings(CorsRegistry registry) {
                registry.addMapping("/**");
            }
        }
    };
}
  // OR
  public class CorsConfiguration implements WebMbcConfigurer{
    public void addCorsMappings(CorsRegistry registry) {
        registry.addMapping("/**");
    }
}
</pre>
    <h2>그리고 security 설정에서 cors를 설정해야함</h2>
<pre>
@Configuration
public class SecurityConfiguration {

   @Bean
   SecurityFilterChain filterChain(HttpSecurity http) throws Exception {
      http
        .authorizeHttpRequests(request -> request
             .requestMatchers(HttpMethod.GET, "/**").permitAll()
        )
              .csrf(AbstractHttpConfigurer::disable) // csrf 설정
              .cors(Customizer.withDefaults())  // cors 설정(WebMvcConfigurer 별도 설정 필요
      ;
     return http.build();
   }
}
</pre>

</main>
</body>
</html>