<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
  <h1>Controller test</h1>
  <h2>controller test에 필요한 annotation</h2>
  <h3>@SpringBootTest</br>
    @AutoConfigureMockMvc(addFilter = false) //security를 적용하지 않음</h3>
  <pre>
  @Autowired
  MockMvc mockMvc; // 외부에서 들어오는 http request를 가상으로 생성해줌
  @MockitoBean  // service mock 함
  ArtifactService artifactService;
  List[artifact] artifacts;
  @BeforeEach
  void setup() {
    this.artifacts = new ArrayList[]();
    Artifact class를 생성 6개;
    Wizard class를 생성 3개;
    artifact에 wizard를 정의함;
    list에 artifact를 추가함;
  }
  @Test
  void testFindByIdSuccess{
    // Given
    given(artifactService.findById("1235").willReturn(artifacts.get(0));
    // When and Then
    mockMvc.perform(get("/api/v1/artifacts/1235").accept(MediaType.APPLICATION_JSON))
      .andExpect(jsonPath("$.flag")).value(true)
      .andExpect(jsonPath("$.data.id")).value("해당id")
      .andExpect(jsonPath("$.data.name").value(위에서 정의한 이름)
      .andExpect(jsonPath("$.data", Matchers.hasSize(artifactList.size()));
  }
  // jsonPath ; MockMvcRequestBuilders
  </pre>
  <h3>controller 코드 작성</h3>
  <h4>여기에서는 애러처리 필요없음: service에서 exception 처리함</h4>
  <h4>Result를 return 함</h4>
  <h3>exception 시험</h3>
  <pre>
  @Test
  void testFindByIdSuccess{
    // Given
    given(artifactService.findById("1235").willReturn(artifacts.get(0));
    // When and Then
    mockMvc.perform(get("/api/v1/artifacts/1235").accept(MediaType.APPLICATION_JSON))
      .andExpect(jsonPath("$.flag").value(false))
      .andExpect(jsonPath("$.data.id").value("해당id"))
      .andExpect(jsonPath("$.data").isEmpty());
  }
  </pre>
  <h2>Controller에서 exception 처리를 위해서는 exception handler가 필요함</h2>
  <h3>system/exception/ExceptionHandlerAdvice </h3>
  <pre>
  @RestControllerAdvice // AOP를 통해 controller의 exception을 처리함
  public class ExceptionHandlerAdvice{
    @ExceptionHandler(ArtifactNotFoundException.class)
    @ResponseStatus(HttpStatus.NOT_FOUND) // 이거는 기본적으로 헤더에 추가해서 넣어줌
    Result artifactNotFoundExceptionHandler(ArtifactNotFoundException ex) {
      return new Result(false, StatusCode.NOT_FOUND, ex.getMessage());
    }
  }
  </pre>
  <h1>Dto class를 생성</h1>
  <h2>Dto는 일반적인 class나 record로 생성 가능</h2>
  <h3>dto to entity, entity to dto로 변환을 위한 class를 생성: implements Converter[From, To] 해서 사용</h3>
  <h3>@Component 잊지 마세요.</h3>
  <h2>Controller, Service 구현</h2>
  <h3>Controller에서는 dto를 사용해서 request에 응답하고, Service에서는 entity를 활용</h3>
  <h3>findAll, findById, delete, update</h3>
  <pre>
    // Service
    public List[Artifact] findAll() { return List.of(); };
    // Test를 수행해 가면서 서비스의 나머지를 작성함(TDD)
  </pre>
</main>
</body>
</html>