<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
  <h2>findAll</h2>
  <h2>findAll service test</h2>
  <h3>@BeforeEach void setup() { artifact list 정의 }</h3>
  <pre>
    @Mock // repository와 분리해서 시험하기 위해 가상의 repo 구성
    private ArtifactRepository artifactRepository;
    @InjectMocks // 위에서 생성한 mock를 받아서 실제 수행할 di
    private ArtifactService artifactService;

    @Test
    void testFindAllSuccess() {
      // Given
      given(artifactRepository.findAll()).willReturn(artifacts);
    // When
    List[Artifact] artifacts = artifactService.findAll();
    // Then
    assertThat(artifacts.size()).isEqualTo(artifacts.size());
    verify(artifactRepository, times(1)).findAll();
    }
  </pre>
  <h2>findAll Controller test</h2>
  <pre>
    // Given
    given(artifactService.findAll()).willReturn(artifacts);
    // When and Then
    mockMvc.perform(get("/artifacts").accept(MediaType.APPLICATOIN_JSON))
      .andExpect(jsonPath("$.flag").value(true))
      .andExpect(jsonPath("$.data", Matchers.hasSize(artifacts.size())))
      .andExpect(jsonPath("$.data[0].id").value("id value"));
  </pre>
  <h2>controller</h2>
  <pre>
  artifact list - artifact dto(stream().map(a - converter(a)).toList() - return new Result;
  </pre>
  <h2>integration test는 postman으로 수행; 대신할 test 생성해서 해도됨</h2>
</main>
</body>
</html>