<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
  <h1>update</h1>
  <p>controller는 @PathValiable, @Valid @RequestBody 를 받음</p>
  <h2>service test</h2>
    <h3>Given</h3>
    <h4>old, update 2개의 객체를 생성</h4>
    <h4>findById한 후에 save(old, old)해야함</h4>
    <h3>then</h3>
    <h4>verify에서 findById와 save를 수행</h4>
    <h3>updateNotFound</h3>
    <h4>given 결과는 Optional.empty()</h4>
    <h4>When : 예외 발생 방법은 Throwable thrown assertThrows(?.*Exception.class, () - {} )</h4>
  <h2>service main</h2>
    <h3>design pattern : fluent interface, increase code legibility</h3>
  <pre>
    return artifactRepository.findById("id").map(
      artifact ▶ {
        artifact.setName(update.getName()); ...
        artifactRepository.save(artifact);
      })
      .orElseThrow(() ▶ new ArtifaceNotFoundException(artifactId) );
  </pre>
  <h2>controller test</h2>
    <h3>Given에서 update할 dto 객체, entity(updateArtifact) 객체 생성</h3>
    <h3>given에서 id를 주입할 때 eq("id"), Mockito.any(Artifact.class)로 해야함,
      결과는 updateArtifact임</h3>
    <h3>Not found</h3>
    <h4>Given: 주입 eq("id"), Mockito.any(Artifact.class)
      결과는 willThrow(new ArtifactNotFoundException("id")</h4>
  <h2>controller main</h2>
    <h3>convert artifactDto(from request body) to artifact, save(artifact), convert to dto</h3>
</main>
</body>
</html>