<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
<h1>Testin with Spring Security</h1>
  <h2>controller integration test</h2>
  <pre>
    String token;
    @BeforeEach
    void setup() {
      // with를 위해서 security test에 dependency 필요(spring-boot-start-security-test)
      ResultAction r1 = mvcMock.perform(post("/login")).with(httpBasic("id", "password");
      MvcResult r2 = r1.andDo(print()).andReturn();
      String r3 = r2.getResponse().getContentAsString();
      JSONObject r4 = JSONObject(r3);
      String token = "Bearer " + r4.getJSONObject("data").get("token");
    }
    // 위 값을 mvcMock에 header("Authorization", token)으로 해서 넣어줌
  </pre>
</main>
</body>
</html>
