<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
<h1>Password change and Revoking JWTs with Redis</h1>
  <h2>pom.xml</h2>
  <h3>implements org.springframework.boot: spring-boot-starter-data-redis</h3>
  <h3>test org.springframework.boot: spring-boot-testcontainers</h3>
  <h3>test org.testcontainers: junit-jupiter</h3>
  <h3>test com.redis: testcontainers-redis:2.2.2</h3>

  <h2>password change process</h2>
  <h3>request body: oldPassword, newPassword, confirmNewPassword</h3>
  <ol>
    <li>userController
      <div>("/users/{userId}/password"), @PathVariable, @RequestBody Map</div></li>
    <li>userService; changePassword(oldPassword, newPassword, confirmNewPassword)
      <div>findById willReturn HoUser</div>
    <div>make 4 exceptions(oldPassword not valid; passwordEncoder.matches(old, get from HoUser)</div></li>
    <li>make PasswordChangeIllegalArgumentException for IllegalArgumentException
    <div>add to ExceptionHandlerAdvice, ExceptionHandler</div></li>
    <li>Test userService</li>
    <li>add security config to patch access(userRequestAuthorizationManager)</li>
    <li>Test User integration</li>
    <li> Jwt
      <ol>
        <li>make redis docker compose</li>
        <li>make RedisCacheClient class DI StringRedisTemplate
          <div>make methods crud(+ isInTheWhiteList()) for redis cache</div></li>
        <li>AuthService; createLoginInfo save token to redis cache</li>
        <li>user service; changePassword ; delete token in redis
        <div>and update ; delete token in redis</div></li>
        <li>make JwtInterceptor class implements HandlerInterceptor
        <div>a little complicate</div></li>
        <li>make WebConfig implements WebMvcConfigurer
        <div>add interceptor to addInterceptors's registry</div></li>
        <li>test user service implement redis cache</li>
      </ol>
    </li>
    <li>docker compose test(testcontainers.com)
    <div>class annotation; @TestContainers</div>
    <div>@Container @ServiceConnection
      static new RedisContainer(DockerImageName.parse("redis:6.2.6")) </div></li>
    <li>cloud 적용; redis 생성; pom.xml 에 cloud dependency 추가;
    <div>application.yml에 cloud 서버 설정 추가</div></li>
  </ol>
</main>
</body>
</html>
