<aside class="aside" id="database">
  <h1 class="title">DATABASE</h1>
  <ul id="sub-nav">

    <li class="sub-content"><h2>SQL W3</h2>
      <ul class="content-toggle" id="w3-school">
        <li class="content"><a href="/database/01-w3/00-mysql-basic">MySql Basic</a></li>
        <li class="content"><a href="/database/01-w3/01-create">CREATE</a></li>
        <li class="content"><a href="/database/01-w3/02-select">SELECT</a></li>
        <li class="content"><a href="/database/01-w3/03-insert-update-delete">INSERT,UPDATE,DELETE</a></li>
        <li class="content"><a href="/database/01-w3/04-aggregate">AGGREGATE</a></li>
        <li class="content"><a href="/database/01-w3/05-like-wildcard">LIKE, Wildcard</a></li>
        <li class="content"><a href="/database/01-w3/06-in-between-alias">IN,BETWEEN,Alias</a></li>
        <li class="content"><a href="/database/01-w3/07-join">JOIN</a></li>
        <li class="content"><a href="/database/01-w3/08-group-by-having">GROUP BY, HAVING</a></li>
        <li class="content"><a href="/database/01-w3/09-exists-any-all">EXISTS, ANY, ALL</a></li>
        
      </ul>
    </li>

    <li class="sub-content"><h2>PostgreSQL</h2>
      <ul class="content-toggle" id="psql">
        <li class="content"><a href="/database/02-psql/01-installation">Postgre Install & datatype</a></li>
        <li class="content"><a href="/database/02-psql/02-psql-basic-crud">CRUD</a></li>
        
      </ul>
    </li>

  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>