<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
<h1>INSERT INTO</h1>
  <pre>INSERT INTO table_name (column1, column2, column3, ...)
  VALUES (value1, value2, value3, ...);

INSERT INTO Customers (name, Address, City, PostalCode, Country)
  VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway'),
  ( .... ), ( .... );</PRE>

<h1>UPDATE</h1>
  <pre>UPDATE table_name
    SET column1 = value1, column2 = value2, ...
    WHERE condition;</pre>
  <pre>UPDATE customer
    SET name = '김관용', country = '한국', address = '대전시 서구'
    WHERE id = 2;</pre>

<h1>DELETE</h1>
  <pre>DELETE FROM table_name WHERE condition;</pre>
  <pre>DELETE FROM customer
  WHERE email LIKE 'malebrooke6@%';</pre>

<h2>delete table</h2>
  <pre>DROP TABLE table_name;</pre>
<h2>VIEW</h2>
  <pre>CREATE VIEW view_name AS
  SELECT column1, column2, ... FROM table_name
  WHERE condition;
SELECT * FROM view_name;</pre>
<pre>CREATE VIES em_office AS 
  SELECT first_name, offices.address FROM employees 
  LEFT JOIN offices ON employees.office_id = offices.office_id;
SELECT * FROM em_office;</pre>
</main>
</body>
</html>
