<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
  <h1>Wildcard</h1>
  <h2>wildcard characters</h2>
  <pre>
  %	Represents zero or more characters
  _	Represents a single character
  [charlist]	Represents a single character within the specified range 
              (for example, [a-f]) *
  [^charlist]	Represents a single character not within the specified range 
              (for example, [^a-f]) *
  ^ 	Represents any character not in the brackets *
  - 	Represents any single character within the specified range *
  {} 	Represents any escaped character **
 * Not supported in PostgreSQL and MySQL databases.
 ** Supported only in Oracle databases.
  </pre>
  <h2>LIKE</h2>
  <pre>SELECT * FROM Customers
    WHERE CustomerName LIKE 'a%';</pre>
  <pre>SELECT * FROM Customers
    WHERE CustomerName LIKE 'a_%';</pre>
  <h2>The _ Wildcard</h2>
  <pre>The _ wildcard represents a single character.
Return all customers from a city that starts with 'L' 
followed by one wildcard character, then 'nd' and then two wildcard characters:
SELECT * FROM Customers
WHERE city LIKE 'L_nd__';</pre>
 <h2>The % Wildcard</h2>
  <pre>The % wildcard represents any number of characters, even zero characters.
contains the letter 'L':
  SELECT * FROM Customers WHERE city LIKE '%L%';

Starts With
  SELECT * FROM Customers WHERE CustomerName LIKE 'La%';

Tip: You can also combine any number of conditions using AND or OR operators.

Return all customers that starts with 'a' or starts with 'b':
  SELECT * FROM Customers
  WHERE CustomerName LIKE 'a%' OR CustomerName LIKE 'b%';

Ends With
Return all customers that ends with 'a':
  SELECT * FROM Customers WHERE CustomerName LIKE '%a';

Tip: You can also combine "starts with" and "ends with":
Return all customers that starts with "b" and ends with "s":
  SELECT * FROM Customers WHERE CustomerName LIKE 'b%s';

Contains
To return records that contains a specific letter or phrase, 
add the % both before and after the letter or phrase.
Return all customers that contains the phrase 'or'
  SELECT * FROM Customers WHERE CustomerName LIKE '%or%';

Combine Wildcards
Any wildcard, like % and _ , can be used in combination with other wildcards.
Return all customers that starts with "a" and are at least 3 characters in length:
  SELECT * FROM Customers WHERE CustomerName LIKE 'a__%';

Return all customers that have "r" in the second position:
  SELECT * FROM Customers WHERE CustomerName LIKE '_r%';

Without Wildcard
If no wildcard is specified, the phrase has to have an exact match 
to return a result.
Return all customers from Spain:
  SELECT * FROM Customers
  WHERE Country LIKE 'Spain'; </pre>
</main>
</body>
</html>
