<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
<h1>함수</h1>

<h2>trim</h2>
<pre>SELECT TRIM('  Hello World!  '); -- 'Hello World!'
SELECT TRIM(LEADING ' ' FROM '  Hello World!  '); -- 'Hello World!  ' 
SELECT TRIM(TRAILING '*' FROM '  Hello World!****'); -- '  Hello World!'</pre>  

<h2>concat</h2>
<pre>SELECT CONCAT('Hello', ' ', 'World!'); -- 'Hello World!'
SELECT CONCAT('Hello', ' ', 'World!', 123); -- 'Hello World!123'</pre>

<h2>concat_ws</h2>
<pre>SELECT CONCAT_WS('-', '2023', '10', '01'); -- '2023-10-01'</pre>

<h2>substring</h2>
<pre>SELECT SUBSTRING('Hello World!', 1, 5); -- 'Hello'</pre>

<h2>replace</h2>
<pre>SELECT REPLACE('Hello World!', 'World', 'MySQL'); -- 'Hello MySQL!'</pre>

<h2>upper</h2>
<pre>SELECT UPPER('Hello World!'); -- 'HELLO WORLD!'</pre>

<h2>lower</h2>
<pre>SELECT LOWER('Hello World!'); -- 'hello world!'</pre>

<h2>length</h2>
<pre>SELECT LENGTH('Hello World!'); -- 13</pre>

<h2>if</h2>
<pre>SELECT IF(1 &gt; 0, 'True', 'False'); -- 'True'
SELECT IF(1 &gt; 2, 'True', 'False'); -- 'False'</pre>

<h2>case</h2>
<pre>SELECT CASE 
      WHEN 1 &gt; 0 THEN 'True' 
      ELSE 'False' 
  END; -- 'True'
SELECT CASE 
      WHEN 1 &gt; 2 THEN 'True' 
      ELSE 'False' 
  END; -- 'False'</pre>

<h2>coalesce</h2>
<pre>SELECT COALESCE(NULL, 'Hello', 'World'); -- 'Hello'
SELECT COALESCE(NULL, NULL, 'World'); -- 'World'
SELECT COALESCE(NULL, NULL, NULL); -- NULL</pre>

<h2>ifnull; 첫번째가 null이면 다음값, 아니면 그냥 값</h2>
<pre>SELECT IFNULL(NULL, 'Hello'); -- 'Hello'
SELECT IFNULL('Hello', 'World'); -- 'Hello'</pre>

<h2>nullif: 2개의 값이 같으면 null, 아니면 첫번째 값</h2>
<pre>SELECT NULLIF('Hello', 'Hello'); -- NULL
SELECT NULLIF('Hello', 'World'); -- 'Hello'</pre>

<h2>greatest; 여러 값 중 가장 큰 값</h2>
<pre>SELECT GREATEST(1, 2, 3); -- 3</pre>

<h2>least; 여러 값 중 가장 작은 값</h2>
<pre>SELECT LEAST(1, 2, 3); -- 1</pre>

<h1>수학 함수</h1>
<h2>format; 숫자를 지정된 형식으로 포맷</h2>
<pre>SELECT FORMAT(1234567.89, 2); -- '1,234,567.89'</pre>

<h2>round; 숫자를 반올림</h2>
<pre>SELECT ROUND(123.4567, 2); -- 123.46
SELECT ROUND(123.4567); -- 123</pre>

<h2>ceil; 숫자를 올림</h2>
<pre>SELECT CEIL(123.4567); -- 124
SELECT CEIL(-123.4567); -- -123</pre>

<h2>floor; 숫자를 내림</h2>
<pre>SELECT FLOOR(123.4567); -- 123
SELECT FLOOR(-123.4567); -- -124</pre>

<h2>abs; 절대값</h2>
<pre>SELECT ABS(-123.4567); -- 123.4567
SELECT ABS(123.4567); -- 123.4567</pre>

<h2>sign; 숫자의 부호 반환</h2>
<pre>SELECT SIGN(-123.4567); -- -1
SELECT SIGN(0); -- 0
SELECT SIGN(123.4567); -- 1</pre>

<h2>rand; 랜덤 숫자 생성</h2>
<pre>SELECT RAND(); -- 0과 1 사이의 랜덤 숫자
SELECT RAND(123); -- 123을 시드로 사용하여 랜덤 숫자 생성</pre>

<h2>pi; 원주율 반환</h2>
<pre>SELECT PI(); -- 3.141592653589793</pre>

<h2>mod; 나머지 연산</h2>
<pre>SELECT MOD(10, 3); -- 1
SELECT MOD(10, 2); -- 0</pre>

<h1>시스템 함수</h1>
<h2>version; MySQL 버전 반환</h2>
<pre>SELECT VERSION(); -- MySQL 서버 버전 반환</pre>

<h2>user; 현재 사용자 반환</h2>
<pre>SELECT USER(); -- 현재 사용자 반환</pre>

<h2>current_user; 현재 사용자 반환</h2>
<pre>SELECT CURRENT_USER(); -- 현재 사용자 반환</pre>

<h2>database; 현재 데이터베이스 반환</h2>
<pre>SELECT DATABASE(); -- 현재 데이터베이스 반환</pre>

<h2>schema; 현재 스키마 반환</h2>
<pre>SELECT SCHEMA(); -- 현재 스키마 반환</pre>


<h1>DATE, TIME</h1>
<h2>now</h2>
<pre>SELECT NOW(); -- 현재 날짜와 시간</pre>

<h2>curdate</h2>
<pre>SELECT CURDATE(); -- 현재 날짜
SELECT CURRENT_DATE(); -- 현재 날짜 반환
SELECT CURRENT_DATE; -- 현재 날짜 반환</pre>

<h2>curtime</h2>
<pre>SELECT CURTIME(); -- 현재 시간
SELECT CURRENT_TIME(); -- 현재 시간 반환
SELECT CURRENT_TIME; -- 현재 시간 반환</pre>

<h2>date_format</h2>
<pre>SELECT DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s'); -- '2023-10-01 12:34:56'</pre>

<h2>current_timestamp; 현재 날짜와 시간 반환</h2>
<pre>SELECT CURRENT_TIMESTAMP(); -- 현재 날짜와 시간 반환
SELECT CURRENT_TIMESTAMP; -- 현재 날짜와 시간 반환
SELECT TIMESTAMP(NOW()); -- 현재 날짜와 시간 반환
</pre>

<h2>sysdate; 현재 날짜와 시간 반환</h2>
<pre>SELECT SYSDATE(); -- 현재 날짜와 시간 반환
SELECT SYSDATE; -- 현재 날짜와 시간 반환</pre>
<h2>날짜 관련 데이터 추출하기</h2>
<pre>SELECT DATE('2023-10-01 12:34:56') / TIME('2023-10-01 12:34:56') 
  / YEAR('2023-10-01 12:34:56') / MONTH('2023-10-01 12:34:56') / DAY('2023-10-01 12:34:56') 
  / HOUR('2023-10-01 12:34:56') / MINUTE('2023-10-01 12:34:56') / SECOND('2023-10-01 12:34:56');
   -- '2023-10-01' / '12:34:56' / 2023 / 10 / 1 / 12 / 34 / 56

SELECT DATE(NOW()) / TIME(NOW()) / YEAR(NOW()) / MONTH(NOW()) / DAY(NOW()) 
  / HOUR(NOW()) / MINUTE(NOW()) / SECOND(NOW()); 
  -- 현재 날짜, 시간, 년, 월, 일, 시, 분, 초 반환</pre>

<h2>extract; 날짜에서 특정 부분 추출</h2>
<pre>SELECT EXTRACT(YEAR FROM '2023-10-01'); -- 2023
SELECT EXTRACT(MONTH FROM '2023-10-01'); -- 10
SELECT EXTRACT(DAY FROM '2023-10-01'); -- 1</pre>

<h2>date_add; 날짜에 시간 더하기</h2>
<pre>SELECT DATE_ADD('2023-10-01', INTERVAL 1 DAY); -- '2023-10-02'
SELECT DATE_ADD('2023-10-01', INTERVAL 1 MONTH); -- '2023-11-01'</pre>

<h2>date_sub; 날짜에서 시간 빼기</h2>
<pre>SELECT DATE_SUB('2023-10-01', INTERVAL 1 DAY); -- '2023-09-30'
SELECT DATE_SUB('2023-10-01', INTERVAL 1 MONTH); -- '2023-09-01'</pre>

<h2>date_diff; 날짜 차이</h2>
<pre>SELECT DATEDIFF('2023-10-01', '2023-09-01'); -- 30
SELECT DATEDIFF('2023-10-01 12:00:00', '2023-09-01 12:00:00'); -- 30</pre>

<h2>timestampdiff; 두 날짜 사이의 차이를 특정 단위로 반환</h2>
<pre>SELECT TIMESTAMPDIFF(DAY, '2023-10-01', '2023-09-01'); -- -30
SELECT TIMESTAMPDIFF(MONTH, '2023-10-01', '2023-09-01'); -- -1</pre>


<h2>unix_timestamp; 현재 시간을 유닉스 타임스탬프로 반환</h2>
<pre>SELECT UNIX_TIMESTAMP(); -- 현재 시간을 유닉스 타임스탬프로 반환
SELECT UNIX_TIMESTAMP('2023-10-01 12:00:00'); -- 특정 시간을 유닉스 타임스탬프로 반환</pre>
<h2>from_unixtime; 유닉스 타임스탬프를 날짜로 변환</h2>
<pre>SELECT FROM_UNIXTIME(UNIX_TIMESTAMP()); -- 현재 시간을 날짜로 변환
SELECT FROM_UNIXTIME(1696129200); -- 특정 유닉스 타임스탬프를 날짜로 변환</pre>

<h2>utc_date; UTC 날짜 반환</h2>
<pre>SELECT UTC_DATE(); -- UTC 날짜 반환</pre>

<h2>utc_time; UTC 시간 반환</h2>
<pre>SELECT UTC_TIME(); -- UTC 시간 반환</pre>


<h1>SELECT INTO; 복사해서 새로운 테이블로 만듦</h1>
<pre>-- 이거는 안됨
SELECT * INTO CustomersBackup2017
  SELECT * FROM Customers;</pre>
<pre>-- Primary Key와 Index, Auto Increment는 제외하고 복사.
  CREATE TABLE b_customer SELECT * FROM customer;</pre>
</main>
</body>
</html>
